## Aula 7 - Agregação com Pandas

In [1]:
import pandas as pd
import numpy as np

#### W7.1 Considerando o dataframe df a seguir, crie um objeto de agrupamento da coluna data1 agrupando por key1.

In [ ]:
# Criando um dataframe
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5), 'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.611290 -0.733620
1    a  two  0.905832  0.853260
2    b  one  0.277906 -0.816946
3    b  two  0.926170 -0.524538
4    a  one -0.307523 -1.880179

In [ ]:
# Faça aqui 
### BEGIN SOLUTION
group = df['data1'].groupby(df['key1'])
### END SOLUTION

#### W7.2 Aplique a métrica Média (mean) sobre esse objeto de agrupamento criado no exercicio W7.1.

In [ ]:
# Faça aqui 
### BEGIN SOLUTION
group.mean()
### END SOLUTION

key1
a    0.101747
b    1.055884
Name: data1, dtype: float64

#### W7.3 Considerando o dataframe df2 a seguir, crie um objeto de agrupamento da coluna data1 agrupando por key1 e key2.

In [ ]:
# Criando um dataframe
df2 = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                   'key2' : [1, 2, 1, 2, 1],
                   'data1' : np.random.randn(5), 'data2' : np.random.randn(5)})
df2

In [ ]:
# Faça aqui
### BEGIN SOLUTION
group2 = df['data1'].groupby([df['key1'], df['key2']])
### END SOLUTION

#### W7.4 Aplique a métrica Média (mean) sobre esse objeto de agrupamento criado no exercicio W7.3.

In [ ]:
# Faça aqui
### BEGIN SOLUTION
group2.mean()
### END SOLUTION

key1  key2
a     one    -0.460935
      two     1.227111
b     one     1.416217
      two     0.695551
Name: data1, dtype: float64

#### W7.5 Use o método unstack() para pivotar essa série do exercicio W7.4

In [ ]:
# Faça aqui
### BEGIN SOLUTION
group2.mean().unstack()
### END SOLUTION

key2       one       two
key1
a    -0.460935  1.227111
b     1.416217  0.695551

#### W7.6 Crie um agrupamento por key1 e aplique a métrica mean em todas as colunas de dados do dataframe df3 criado abaixo.

In [ ]:
# Criando um dataframe
df3 = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                   'key2' : [1, 2, 1, 2, 1],
                   'data1' : np.random.randn(5), 'data2' : np.random.randn(5)})
df3

  key1  key2     data1     data2
0    a     1 -0.813626  0.248857
1    a     2 -0.881049  1.631773
2    b     1 -0.771584 -0.028137
3    b     2 -0.705070  2.202794
4    a     1  1.241340  0.500868

In [ ]:
# Faça aqui
### BEGIN SOLUTION
df3.groupby(df['key1']).mean()
### END SOLUTION

          key2     data1     data2
key1
a     1.333333 -0.151111  0.793833
b     1.500000 -0.738327  1.087329

#### W7.7 Crie um agrupamento por key1 e key2 e aplique a métrica mean em todas as colunas de dados do dataframe df3.

In [ ]:
# Faça aqui
### BEGIN SOLUTION
df3.groupby([df['key1'], df['key2']]).mean()
### END SOLUTION

           key2     data1     data2
key1 key2
a    one      1  0.213857  0.374863
     two      2 -0.881049  1.631773
b    one      1 -0.771584 -0.028137
     two      2 -0.705070  2.202794

#### W7.8 Agrupe o dataframe df4 (criado abaixo) por key1 e calcule a média e a mediana para a coluna data1 e soma e o valor máximo para a coluna data2.

In [ ]:
# Criando um dataframe
df4 = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                   'key2' : [1, 2, 1, 2, 1],
                   'data1' : np.random.randn(5), 'data2' : np.random.randn(5)})
df4

  key1  key2     data1     data2
0    a     1  1.288366  0.569569
1    a     2  0.561941  0.685800
2    b     1 -1.374990 -1.584063
3    b     2 -0.298362  1.164816
4    a     1  1.422413  1.005581

In [ ]:
# Faça aqui
### BEGIN SOLUTION
df4.groupby('key1').agg({"data1": ['mean', 'median']})
### END SOLUTION